<form [formGroup]="signupForm">

  <div class="form-group">
      <label for="firstName">firstName</label>
      <input type="text" class="form-control"  formControlName="firstName" placeholder="first name">
      <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
          <div *ngIf="firstName.errors.required">
              First Name is Mandatory
           </div>
           <div *ngIf="firstName.errors.minlength">
              Minimum length is 3
           </div>
           <div *ngIf="firstName.errors.cannotContainSpaces">
             First name should not contain spaces
           </div>
           
        </div>
    </div>
  <div class="form-group">
      <label for="lastName">lastName</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="last name">
      <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
          <div *ngIf="lastName.errors.required">
              First Name is Mandatory
           </div>
           <div *ngIf="lastName.errors.minlength">
              Minimum length is 3
           </div>
           
        </div>
    </div>
  
    <button class="btn btn-primary" [disabled]="!signupForm.valid"  (click)="submitForm()">Submit</button>
  </form>